<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SQLsv.My.MySettings.VBConnectionString" connectionString="server=localhost;user id=root;password=et24;database=VB"
            providerName="MySql.Data.MySqlClient" />
        <add name="SQLsv.My.MySettings.kioskitoConnectionString" connectionString="server=localhost;user id=root;database=kioskito"
            providerName="MySql.Data.MySqlClient" />
        <add name="SQLsv.My.MySettings.KioskitoConnectionString1" connectionString="server=localhost;user id=root;password=et24;persistsecurityinfo=True;database=Kioskito"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>